<div class="participants-page">
  <header class="top-bar">
    <button class="back-button" type="button" aria-label="Назад" (click)="goBack()">
      <span class="arrow">←</span>
    </button>
  </header>

  <main class="participants-content">
    <h1 class="page-title">
      УЧАСТ<span>НИКИ</span>
    </h1>

    <section class="teams-section">
      <!-- Загрузка -->
      <div *ngIf="isLoading" class="loading-box">
        <p>Загрузка...</p>
      </div>


      <div *ngIf="!isLoading && error" class="error-box">
        <p class="error-message">{{ error }}</p>
        <button class="retry-btn" type="button" (click)="loadTeams()">
          Попробовать снова
        </button>
      </div>


      <div *ngIf="!isLoading && !error" class="teams-grid">
        <button 
          class="team-card" 
          type="button" 
          *ngFor="let team of teams"
        >
        {{ team.name }}
      </button>

        <p *ngIf="teams && teams.length === 0" class="no-data">
          Команды ещё не добавлены
        </p>
      </div>
    </section>

    <button class="rating-button" type="button" (click)="goToRating()">
      перейти к рейтингу
    </button>
  </main>
</div>