<div class="login-container">
  <button class="back-btn" type="button" (click)="goHome()" aria-label="На главную">
    <span class="back-arrow">←</span>
  </button>

  <h1 class="logo logo-font">
    <span class="consonant">М</span>
    <span class="vowel">Е</span>
    <span class="consonant">Т</span>
    <span class="consonant">К</span>
    <span class="vowel">А</span>
  </h1>

  <form class="form" (ngSubmit)="onSubmit()">
    
    <p class="forgot-password-link" style="margin-bottom: 20px; pointer-events: none; text-decoration: none;">
      восстановление пароля
    </p>

    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="newPassword"
        placeholder="новый пароль"
        class="input-field password-input"
        [(ngModel)]="newPassword"
        required
      >
      <button
        type="button"
        class="eye-btn"
        (click)="showPassword = !showPassword"
      >
        {{ showPassword ? '🙈' : '👁' }}
      </button>
    </div>

    <div class="password-wrapper">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        name="confirmPassword"
        placeholder="повторите новый пароль"
        class="input-field password-input"
        [(ngModel)]="confirmPassword"
        required
      >
      <button
        type="button"
        class="eye-btn"
        (click)="showConfirmPassword = !showConfirmPassword"
      >
        {{ showConfirmPassword ? '🙈' : '👁' }}
      </button>
    </div>

    <button type="submit" class="login-btn" [disabled]="isLoading">
      {{ isLoading ? 'Загрузка...' : 'СОХРАНИТЬ' }}
    </button>

    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>

  </form>
</div>