@font-face {
  font-family: 'GeneralFont';
  src: url('./assets/fonts/GeneralFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondFont';
  src: url('./assets/fonts/SecondFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}