@font-face {
  font-family: 'GeneralFont';
  src: url('./assets/fonts/GeneralFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondFont';
  src: url('./assets/fonts/SecondFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  background-color: #f2f0e6;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'GeneralFont', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}